<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.loitp.livestar">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="vn.loitp.app.app.LSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="vn.loitp.app.activity.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.loitp.app.activity.api.test.TestAPIActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.PlaceHolderViewMenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidnavigationdrawer.AndroidNavigationDrawerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidbeginnerimagegallery.AndroidBeginnerImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidadvanceimagegallery.AndroidAdvanceImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidexpandablenewsfeed.AndroidExpandableNewsFreedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidtinderswipe.AndroidTinderSwipeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidinfinitelistwithloadmore.AndroidInfiniteListWithLoadMoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.MenuAPIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.MenuCustomViewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.MenuDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.galleryAPI.GalleryAPIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoSplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoSlideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.ViewPagerMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.parrallaxviewpager.ex.ParallaxViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.keyword_hottags.KeywordHotagsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.ButtonMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.shinebutton.ShineButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.MenuAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.animationview.AnimationViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.progress_loadingview.MenuProgressLoadingViewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.progress_loadingview.avloading_indicator_view.AVLoadingIndicatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.overscroll.OverScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.detectviewpagerswipeout.ex.DetectViewPagerSwipeOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.SwitchToggleMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.appcompatswitch.AppcompatSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.actionbar.ActionbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.ImageViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.circleimageview.CircleImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.TextViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.scoretext.ScoreTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.bottomnavigationbar.BottomNavigationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.bottomnavigationbar.bottombar.BottomBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.countdown.CountDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.strectchyimageview.StrectchyImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.touchimageview.TouchImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.sticker.StickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.googleplusbutton.GooglePlusButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.video.VideoActivity"
            android:screenOrientation="portrait" />
        <!--FOR ALARM DEMO APP-->
        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.AlarmMeActivity"
            android:label="@string/app_name">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.EditAlarmActivity"
            android:label="Edit alarm" />

        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.AlarmNotification"
            android:label="Alarm notification" />

        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.Preferences"
            android:label="Preferences" />

        <receiver
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.AlarmReceiver"
            android:process=":remote" />

        <receiver android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!--FOR ALARM DEMO APP-->

        <receiver android:name="vn.loitp.app.utilities.LConectifyBroadcast">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>
</manifest>