<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="loitp.basemaster">

    <application
        android:name="vn.loitp.app.app.LSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- support 18:9 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="vn.loitp.app.activity.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.loitp.app.activity.MenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.test.TestAPIActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.PlaceHolderViewMenuActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidnavigationdrawer.AndroidNavigationDrawerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidbeginnerimagegallery.AndroidBeginnerImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidadvanceimagegallery.AndroidAdvanceImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidexpandablenewsfeed.AndroidExpandableNewsFreedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidtinderswipe.AndroidTinderSwipeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.placeholderview.ex.androidinfinitelistwithloadmore.AndroidInfiniteListWithLoadMoreActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.MenuAPIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.MenuCustomViewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.MenuDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.galleryAPI.GalleryAPIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoSplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoPhotosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.gallery.GalleryDemoSlideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.ViewPagerMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.parrallaxviewpager.ex.ParallaxViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.keyword_hottags.KeywordHotagsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.ButtonMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.shinebutton.ShineButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.MenuAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.animationview.AnimationViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.progressloadingview.MenuProgressLoadingViewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.progressloadingview.avloadingindicatorview.AVLoadingIndicatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.overscroll.OverScrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.detectviewpagerswipeout.ex.DetectViewPagerSwipeOutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.SwitchToggleMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.appcompatswitch.AppcompatSwitchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.actionbar.lactionbar.LActionbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.ImageViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.circleimageview.CircleImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.TextViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.scoretext.ScoreTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.bottomnavigationbar.BottomNavigationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.bottomnavigationbar.bottombar.BottomBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.countdown.CountDownActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.strectchyimageview.StrectchyImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.touchimageview.TouchImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.sticker.StickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.googleplusbutton.GooglePlusButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.video.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.LayoutMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.zoomlayout.ZoomLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.zoomimageview.ZoomImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.fidgetspinnerimageview.FidgetSpinnerImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.circularroundrectimageview.CircularRoundRectImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.colortextview.ColorTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.scrollnumber.ScrollNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.zoomtextview.ZoomTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.verticalmarqueetextview.VerticalMarqueeTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.translucentview.TranslucentViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.fbutton.FButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.circularimageclick.CircularImageClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.edittext.EditTextMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.edittext.materialtextfield.MaterialTextFieldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.edittext.biuedittext.BiuEditTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.VideoViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.btjzvideoplayer.JZVideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.doubleviewpager.DoubleViewPagerSplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.doubleviewpager.DoubleViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.typewritertextview.TypeWriterTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIComicListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIChapListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIPageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIFavListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIAddFavListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.api.truyentranhtuan.TTTAPIRemoveFavListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.ads.MenuAdsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.ads.admobbanner.AdmobBannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.ads.admobinterstitial.AdmobInterstitialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.ads.admobrewardedvideo.AdmobRewardedVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.ripplelayout.RippleLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.RecyclerViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.parallaxrecyclerview.ParallaxRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.customtogglebutton.CustomToggleButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.progressloadingview.circularprogressbar.CircularProgressBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.blurimageview.BlurImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.sound.SoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.texttospeech.TextToSpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.popupmenu.PopupMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.parallaxrecyclerviewyayandroid.ParallaxYayandroidRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.actionbar.ActionbarMenuActivity"
            android:screenOrientation="portrait" />
        <!-- FOR ALARM DEMO APP -->
        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.AlarmMeActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.EditAlarmActivity"
            android:label="Edit alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.activity.AlarmNotification"
            android:label="Alarm notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.Preferences"
            android:label="Preferences"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swiperefreshlayout.withscrollview.SwipeRefreshLayoutScrollViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swiperefreshlayout.SwipeRefreshLayoutMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swiperefreshlayout.withrecyclerview.SwipeRefreshLayoutRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.normalrecyclerview.RecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swiperefreshlayout.withplaceholderview.SwipeRefreshLayoutPlaceHolderViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.img2ascii.Img2AsciiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.textdecorator.TextDecoratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.autoviewpager.AutoViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.viewpager.viewpagerwithtablayout.ViewPagerWithTabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.circletextview.CircleTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.selectabletextView.SelectableTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.normalwithspansize.RecyclerViewWithSpanSizeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.flyschool.FlySchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.dialog.DialogMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.dialog.originaldialog.DialogOriginalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.activitytransition.Animation1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.activitytransition.Animation2Activity"
            android:screenOrientation="portrait" />

        <receiver
            android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.AlarmReceiver"
            android:process=":remote" />
        <receiver android:name="vn.loitp.app.activity.demo.alarmdemoapp.service.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- FOR ALARM DEMO APP -->


        <!--
        <receiver android:name="vn.loitp.core.utilities.LConectifyBroadcast">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        -->

        <activity
            android:name="vn.loitp.app.activity.customviews.actionbar.collapsingtoolbarlayout.CollapsingToolbarLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.dialog.prettydialog.PrettyDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.dialog.iosdialog.DialogIOSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.seekbar.SeekbarMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.seekbar.circularseekbar.CircularSeekbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.edittext.autoresizeedittext.AutoResizeEditTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.actionbar.collapsingtoolbarlayoutwithtablayout.CollapsingToolbarWithTabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.ariana.iv.ArianaImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.ariana.ArianaMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.ariana.tv.ArianaTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.ariana.vp.ArianaViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.MenuFunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.simplefingergestures.SimpleFingerGesturesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.gesto.GestoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.autofittextview.AutoFitTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.textview.justifiedtextview.JustifiedTextViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.ebookwithrealm.EbookWithRealmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.edittext.animatedexpandableedittext.AnimatedExpandableEditTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.database.MenuDatabaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.database.realm.RealmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.database.sqlite.SqliteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.scratchview.ScratchViewMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.scratchview.scratchviewimage.ScratchViewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.scratchview.scratchviewtext.ScratchViewTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.recyclerview.normalrecyclerviewwithsingletondata.RecyclerViewWithSingletonDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.navigation.NavigationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.navigation.arcnavigationview.ArcNavigationViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.buttonloading.ButtonLoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.continuousscrollableimageview.ContinuousScrollableImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.scrollparallaximageview.ScrollParallaxImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.pattern.MenuPatternActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.pattern.observerpattern.ObserverPatternActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.imageview.panoramaimageview.PanoramaImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.database.readsqliteasset.ReadSqliteAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2.ExoPlayer2Activity"
            android:screenOrientation="sensor" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.draggableview.DraggableViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withdragpanel.ExoPlayer2WithDraggablePanelActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="vn.loitp.app.activity.api.retrofit2.TestAPIRetrofit2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.treeview.TreeViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.button.goodview.GoodViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.draggableflipview.DraggableFlipViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.animation.shadowviewhelper.ShadowViewHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.answerview.AnswerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withdragpanel2.ExoPlayer2WithDraggablePanel2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.draggablepanel.DraggablePanelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withdragpanel3.ExoPlayer2WithDraggablePanel3Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.dragueur.DragueurActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.elasticdragdismisslayout.ElasticDragDismissLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.circularview.CircularViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.switchtoggle.toggle.ToggleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.autolinearlayout.AutoLinearLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swipeablelayout.SwipeableLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.swipablelayout.SwipableLayoutActivity"
            android:screenOrientation="portrait" />
        <!--
            <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2fullscreen.ExoPlayer2FullScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor" />
        -->
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2fullscreen.ExoPlayer2FullScreenActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.hashmap.HashMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.dragdropsample.DragDropSampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.demo.floatingwidget.FloatingWidgetActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="vn.loitp.app.activity.demo.floatingwidget.FloatingViewService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="vn.loitp.app.activity.demo.floatingvideo.FloatingWidgetVideoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="vn.loitp.app.activity.demo.floatingvideo.FloatingViewVideoService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="vn.loitp.app.activity.function.fullscreen.FullScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.seekbar.verticalseekbar.VerticalSeekbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withpreviewseekbar.ExoPlayer2WithPreviewSeekbar"
            android:screenOrientation="portrait" />
        <activity android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withpreviewseekbar.videowithpreviewseekbar.PBMainActivity" />
        <activity android:name="vn.loitp.app.activity.customviews.videoview.exoplayer2withpreviewseekbar.videowithpreviewseekbar.PBLocalActivity" />
        <activity
            android:name="vn.loitp.app.activity.customviews.bottomsheet.BottomSheetMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.pipvideo.PiPVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.pipvideo.PipMediaSessionPlaybackActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:supportsPictureInPicture="true" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.uizavideo.UizaVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayerdemofromgg.ExoPlayerDemoFromGGActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.exoplayerdemofromggima.ExoPlayerDemoFromGGIMActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.videoview.uizavideowithima.UizaVideoIMActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.customviews.layout.constraintlayout.ConstraintlayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.loitp.app.activity.function.viewdraghelper.ViewDragHelperActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>